# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnpm-store

# Output
.output
.vercel
/.svelte-kit
/build
/dist

# IDE - VSCode
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/settings.json
.history/*

# misc
/coverage
npm-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db